<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>

		<client>
			<endpoint address="http://localhost:1234/MyService" binding="customBinding" bindingConfiguration="compactBinding" contract="Client.IMyService"/>
		</client>

		<bindings>
      <basicHttpBinding>
        <binding name="Binding1"
                 proxyAddress = "http://127.0.0.1:8081"
                  useDefaultWebProxy="false" messageEncoding="Text" >
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <customBinding>
          <binding name="compactBinding">
                  <binaryMessageEncoding>
                      <readerQuotas maxStringContentLength="400000"/>
                  </binaryMessageEncoding>
              <httpTransport/>
          </binding>
      </customBinding>
  </bindings>

		<extensions>
			<bindingElementExtensions>
				<add name="compactMessageEncoding" type="Amib.WCF.CompactMessageEncodingElement, CompactMessageEncoder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			</bindingElementExtensions>
		</extensions>

    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
