<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
      <behaviors>
        <endpointBehaviors>
          <behavior name="MyService.webHttpBehavior">
            <webHttp />
          </behavior>
        </endpointBehaviors>
      </behaviors>
		<services>
      <service name="Server.MyService">
          <endpoint address="http://localhost:8080/MyService" binding="customBinding" bindingConfiguration="compactBinding" contract="Server.IMyService"/>
      </service>
  </services>
		<bindings>
      <customBinding>
          <binding name="compactBinding">
				  <binaryMessageEncoding/>
              <httpTransport/>
          </binding>
      </customBinding>
  </bindings>

		<!-- Adds the extension dll so the WCF can find the compactMessageEncoder -->
		<extensions>
            <bindingElementExtensions>
                <add name="compactMessageEncoding" type="Amib.WCF.CompactMessageEncodingElement, CompactMessageEncoder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
            </bindingElementExtensions>
        </extensions>
		
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
